html{
	overflow: scroll;
}
section {
	overflow: hidden;
}

.section {
	background-color: #f0f4c3;
	height: 550px;
	margin-bottom: 5px;
	height: 550px;
}

.quote {
	font-size: 100px;
}

.well_custom {
	font-family: 'Special Elite', cursive;
	background: #000428; 
	background: -webkit-linear-gradient(to right, #004e92, #000428);
	background: linear-gradient(to right, #004e92, #000428);
	color: #e3f2fd;
	text-align: center;
	margin-bottom: 2px !important;
	padding: 0px;
	border-bottom: 1px solid #1a237e !important;
	border-radius: 0px !important;
	font-weight: bolder;
	background: -webkit-linear-gradient(to right, #004e92, #000428);
	background: linear-gradient(to right, #004e92, #000428);
}

.header h1 {
	margin: 0px;
	padding: 0px;
}

.index_nav ul {
	float: left;
	width: 100%;
	padding: 0px;
}

.index_nav ul li {
	display: inline-block;
	width: 100%;
	padding: 21px;
	list-style-type: none;
	border-bottom: 1px solid #004d40;
	background-color: #1b5e20;
	color: white;
	margin-bottom: 5px;
	font-weight: bolder;
	font-size: 22px;
}

.index_nav ul li:hover {
	cursor: pointer;
	color: black;
	background-color: #b2ebf2;
}

.img_index {
	/* background-image: url("../Images/img_index4.jpg");
	background-size: cover;
	background-repeat: none;
	float: left; */
	height: 400px;
	background-repeat: none;
}

.img_index  img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	float: right;
}

.container {
	overflow: hidden;
}

.icon {
	font-size: 15em;
	float: left;
	color: #004d40;
}

.quote {
	font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
	font-size: 20px;
	padding: 50px;
	background-color: #673ab7;
	color: white;
}

#description {
	font-family: 'EB Garamond', serif;
	font-size: 22px;
}

.about {
	text-align: center;
	font-size: 45px;
	padding: 20px;
	text-transform: capitalize;
}

#desc_thank {
	font-size: 22px;
	text-align: left;
	padding: 50px 0px;
}

.navigation li {
	list-style-type: none;
	display: inline;
	padding: 20px;
}

.story {
	padding-top: 50px;
}

.story_img {
	width: 304px;
	height: 236px;
	text-transform: uppercase;
}

.product_info {
	background-color: #eeeeee;
	padding: 50px;
	margin: 0px;
	padding: 50px
}

.product_title {
	text-align: left;
	font-weight: bolder;
	color: white;
	font-size: 20px;
	font-family: 'Libre Baskerville', serif;
	padding: 30px;
	color: #3e2723;
}

.product_details ul li {
	list-style: disc;
	padding: 5px;
	font-size: 15px;
}

.map_section {
	width: 100%;
	height: 400px;
}

#map {
	width: 100%;
	height: 100%;
}

.footer_wrap {
	height: 350px;
	background-color: #212121;
	color: white;
	position: relative;
}

@media only screen and (max-width: 800px) {
   .footer_wrap {
	height: 700px;
	background-color: #212121;
	color: white;
	position: relative;

}

}

.author_img_wrap {
	width: 100px;
	height: 100px;
	float: left;
}

.author_img_wrap img {
	max-height: 100%;
	max-width: 100%;
	display: inline;
	float: left;
}

.footer_title {
	font-size: 22px;
	font-weight: bold;
	padding: 60px 20px 20px 20px;
}

.input_wrap {
	padding-left: 20px;
}

.author_about {
	text-align: justify;
	padding: 0px 20px;
}

.footer_{
	color: #004d40;
	text-align: center;
	font-size: 15px;
	background-color: #b39ddb;
	padding: 0px;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}